body {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.mainbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Ensure this color contrasts well with beige */
  background: #0f0f0f;
  padding: 20px; /* Added padding to ensure spacing is visible */
  width: 50%;
  height: 50%;
  max-width: 600px;
  max-height: 600px;
  box-sizing: border-box; /* Ensures padding is included in the width/height */
  transition: background 0.3s ease; /* Smooth transition for background */
  border-radius: 15px;
  margin: 0;
  justify-content: center;
}
.mainbox:hover {
  box-shadow: goldenrod 0px 0px 500px 50px;
  background: linear-gradient(180deg, black, #2e2e2e);
  transition: 1s;
  background-blend-mode: darken;
  font-weight: bolder;
}

footer {
  color: antiquewhite;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  position: absolute;
}
